<% if (error && error.code) { %>
<h1>Error <%= error.code %></h1>
<pre>
   <% if (message) { %>
   <p><%= message %></p>
   <% } %>
   <p><%= error.stack %></p>
</pre>
<% } else { %>
<h1>Internal Server Error</h1>
<% } %>
