<h1>{{this.title}}
   <small>
      <a href="/{{#unless this.test}}?test=1{{/unless}}">({{#if this.test}}stop {{/if}}Test)</a> |
      <a href="/{{#unless this.debug}}?debug=1{{/unless}}">({{#if this.debug}}hide {{/if}}Debug)</a>
   </small>
</h1>

<p class="lead">Welcome {{this.title}}, bud!</p>

<ul class="list-unstyled text-center">
   <li class="pull-right">
      <a href="/listings/{{#if this.url.query}}?{{this.url.query}}{{/if}}">&raquo;Listings</a>
   </li>
</ul>
