<!Doctype html>
<html>
<head>
   <% include partials/template/head.ejs %>
</head>
<body>
   <% if (debug) { %>
   <div class="container-fluid">
      <div class="well well-sm">
         <% include partials/template/debug.ejs %>
      </div>
      <hr>
   </div><!-- /container -->
   <% } %>

   <header class="container-fluid">
      <% include partials/template/header.ejs %>
   </header><!-- /header -->

   <main class="container-fluid">
      <%- include(body) %>
   </main><!-- /container -->

   <footer class="container-fluid">
      <% include partials/template/footer.ejs %>
   </footer><!-- /footer -->

   <div class="scripts">
      <% include partials/template/scripts.ejs %>
   </div><!-- /scripts -->

   <% if (test) { %>
   <div class="container-fluid">
      <hr>
      <div class="well well-sm">
         <% include partials/template/tests.ejs %>
      </div>
   </div><!-- /container -->
   <% } %>
</body>
</html>
