<!Doctype html>
<html>
<head>
   <% include partials/template/head.ejs %>
</head>
<body>
   <% if (debug) { %>
   <div class="container-fluid">
      <div class="well well-sm"><% include partials/template/debug.ejs %></div>
      <hr>
   </div><!-- /container -->
   <% } %>

   <div class="container-fluid">
      <% include home.ejs %>
   </div><!-- /container -->
      
   <div><% include partials/template/scripts.ejs %></div>

   <% if (test) { %>
   <div class="container-fluid">
      <hr>
      <div class="well well-sm"><% include partials/template/tests.ejs %></div>
   </div><!-- /container -->
   <% } %>
</body>
</html>
